.button,
button {
	background-color: #FAFAFA;
	border: 2px solid transparent;
	color: $color-gray-dark;
	display: block;
	font-size: 0.8125em;
	font-weight: $font-weight-bold;
	overflow: hidden;
	padding: 1.2em;
	position: relative;
	transition: all .2s;
	text-transform: uppercase;
	text-align: center;
	width: 100%;

	&:hover,
	&:focus {
		border: 2px solid $color-blue;
	}

	&.button--highlighted {
		color: $color-blue;
	}
}

	.button-holder {
		
		.button,
		button {
			float: left;
			width: 50%;
		}

		.button:first-child,
		button:first-child {
			border-right: 1px solid $color-gray-light;
		}
	}

	.link {
		color: $color-blue;
		text-decoration: underline;

		&:hover,
		&:focus {
			color: $color-black;
		}
	}