.button,
button {
	background-color: #FAFAFA;
	border: 2px solid transparent;
	color: $color-gray-dark;
	display: block;
	font-size: 0.8125em;
	font-weight: $font-weight-bold;
	overflow: hidden;
	outline: none;
	padding: 1.2em;
	position: relative;
	transition: all .2s;
	text-transform: uppercase;
	text-align: center;
	width: 100%;

	&:hover,
	&:focus {
		border: 2px solid $color-blue;
	}

	&.button--highlighted {
		color: $color-blue;
	}

	&.button--delete {
		color: $color-red;
	} 

	&.is--completed {
	
		div {
			transform: scale(0);
		}

		.icon-succes {
			opacity: 1;
			transform: translate(-50%, -50%) scale(1);
			visibility: visible;
		}

	}

	div, 
	.icon-succes {
		transform-origin: center center;
		transition: all .2s ease-in;
	}

	div {
		transform: scale(1);
	}

	.icon-succes {
		left: 50%;
		opacity: 0;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%) scale(0);
		visibility: hidden;
	}
}

	.button-holder {
		
		.button,
		button {
			float: left;
			width: 50%;
			position: relative;
		}

		.button:first-child:after,
		button:first-child:after {
			content: "";
			background-color: $color-gray-light;
			height: 100%;
			top: 0;
			right: 0;
			position: absolute;
			width: 1px;
		}
	}

	.link {
		color: $color-blue;
		text-decoration: underline;

		&:hover,
		&:focus {
			color: $color-black;
		}
	}