.form {
	
	color: $color-gray-dark;
	text-align: left;

	.form__group {
		padding: 1.2em;
	}

	.form__group--small {
		padding-top: 0px;
	}

	p {
		max-width: 40em;
	}

	h2 {
		font-weight: $font-weight-bold;
		margin-bottom: 0.3em;
	}

	label {
		display: block;
		font-size:  0.912em;
		font-weight: $font-weight-semibold;
		margin-bottom: 0.5em;
		width: 100%;
	}

}

	select {
	    background: transparent url(../images/arrow-down.svg) 96% 14px no-repeat;
		border: none;
	    box-shadow: none;   
	    position: relative;

    	-webkit-appearance: none;
       	-moz-appearance: none;
        appearance: none;
	}

	.select-message {
		color: $color-red;
		margin-bottom: 1em;
	}

	input[type="text"],
	input[type="email"],
	input[type="password"],
	select {
		border: 1px solid #DFDCDC;
		border-radius: 4px;
		max-width: 28em;
		margin-bottom: 0.5em;
		padding: 0.5em;
		width: 100%;
	}

	.form__message {
		color: $color-green;
		font-weight: $font-weight-bold;
		
		&--error {
			color: $color-red;
		}

	}