.grid__container:before, .grid__container:after, .cl:after, .cl:before { content: " "; display: table; }
.grid__container:after, .cl:after { clear: both; }

.grid__container {
	width: $width;
  	max-width: $width-max;
  	margin: 0 auto;
    position: relative;
    z-index: 100;

    img {
        width: 100%;
    }
}

.grid__row {
	@include clearfix;
	margin-left: $grid-gutter-width / -2;
	margin-right: $grid-gutter-width / -2;
}

	.grid__row--tight {
		margin-left: 0;
		margin-right: 0;

		[class^="grid__column-"] {
			padding-left: 0;
			padding-right: 0;
		}
	}

.grid__row-covered {
	@include clearfix;
}

.grid__column-covered {
	background-size: cover;
	background-position: center;
	height: 312px; 
	
	&.grid__column-covered-sm {
		width: 35%;
	}

	&.grid__column-covered-lg {
		width: 60%;
	}

	&.grid__column-covered-xl {
		width: 100%;
	}

	@include screen-small-max {
		
		&.grid__column-covered-sm, &.grid__column-covered-lg {
			margin-top: 30px;
			width: 100%;

			&.girl {
				margin-top: 0;
			}
		}
		
	}

}

.laptop { background-image: url('../assets/images/laptop.jpg'); }
.boy { background-image: url('../assets/images/boy.jpg'); }
.girl { background-image: url('../assets/images/girl.jpg'); }
.julian { background-image: url('../assets/images/julian.jpg'); }
.game { background-image: url('../assets/images/game.jpg');}
	
@for $i from 1 through $grid-columns {
	.grid__column-#{$i} {
		float: left;
		min-height: 1px;
		padding-left: $grid-gutter-width / 2;
		padding-right: $grid-gutter-width / 2;
		width: percentage($i / $grid-columns);
	}

	.grid__offset-#{$i} {
		margin-left: percentage(($i / $grid-columns));
	}
}
