.button {
	border: 3px solid transparent;
	color: $color-black;
	cursor: pointer;
	display: block;
	position: relative;
	text-decoration: none;
	transition-property: all !important;
	vertical-align: middle;
	width: 100%;

	&.-bg-white,
	&.-bg-gray-light {
		background: $color-white;
	}
}