// Text
.-tx-xs { font-size: $font-size-xs; }
.-tx-sm { font-size: $font-size-sm; }
.-tx-md { font-size: $font-size-md; }
.-tx-lg { font-size: $font-size-lg; }
.-tx-xl { font-size: $font-size-xl; }
.-tx-xxl { font-size: $font-size-xxl; }
.-tx-xxxl { font-size: $font-size-xxxl; }

.-tx-white { color: $color-white; }
.-tx-black { color: $color-black; }
.-tx-gray { color: $color-gray; }
.-tx-gray-dark { color: $color-gray-dark; }
.-tx-red { color: $color-red; }
.-tx-blue-light { color: $color-blue-light; }
.-tx-blue { color: $color-blue; }
.-tx-bluegray { color: $color-bluegray; }
.-tx-bluegray-dark { color: $color-bluegray-dark; }
.-tx-gray-dark { color: $color-gray-dark; }

.-tx-capitalize-first {
	display: inline-block;

	&:first-letter {
		text-transform: uppercase;
	}
}
.-tx-semibold { font-weight: $font-weight-semibold; }
.-tx-bold { font-weight: $font-weight-bold; }

.-tx-center { text-align: center; }

.-tx-link {
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

// Background
.-bg-black { background-color: $color-black; }
.-bg-gray { background-color: $color-gray-dark; }

// Box
.-bx-round { @include border-radius; }
.-bx-shadow { @include box-shadow; }
.-bx-container { position: relative; }

// Border 
.-bd-top { border-top: 1px solid $color-gray; }
.-bd-right { border-right: 1px solid $color-gray; }
.-bd-bottom { border-bottom: 1px solid $color-gray-light; }
.-bd-left { border-left: 1px solid $color-gray; }
.-bd-round { border: 1px solid transparent}

// Border Titles 
.-bd-title { position: relative; padding-bottom: 24px;}
.-bd-title:after {
	content: " ";
	position: absolute;
	height: 3px;
	background-color: $color-white;
	width: 50px;
	bottom: 0px;
	left: calc(50% - 25px);
}

// Border colors
.-bd-white { border-color: $color-white; }

// Padding vertical
.-pdv-sm {
	padding-bottom: 12px;
	padding-top: 12px;
}

.-pdv-md {
	padding-bottom: 24px;
	padding-top: 24px;
}

.-pdv-lg {
	padding-bottom: 36px;
	padding-top: 36px;
}

.-pdv-xl {
	padding-bottom: 48px;
	padding-top: 48px;
}

.-pdt-sm { padding-top: 12px; }
.-pdt-md { padding-top: 24px; }
.-pdt-lg { padding-top: 36px; }
.-pdt-xl { padding-top: 48px; }
.-pdb-sm { padding-bottom: 12px; }
.-pdb-md { padding-bottom: 24px; }
.-pdb-lg { padding-bottom: 36px; }


// Padding horizontal
.-pdh-xs {
	padding-left: 12px;
	padding-right: 12px;
}

.-pdh-sm {
	padding-left: 24px;
	padding-right: 24px;
}

.-pdh-md {
	padding-left: 36px;
	padding-right: 36px;
}

.-pdh-lg {
	padding-left: 50px;
	padding-right: 50px;
}

.-pdl-xs { padding-left: 12px; }
.-pdl-sm { padding-left: 24px; }
.-pdl-md { padding-left: 36px; }
.-pdl-lg { padding-left: 50px; }
.-pdr-xs { padding-right: 12px; }
.-pdr-sm { padding-right: 24px; }
.-pdr-md { padding-right: 36px; }
.-pdr-lg { padding-right: 50px; }


// Margin top
.-mgt-xs { margin-top: 5px; }
.-mgt-sm { margin-top: 10px; }
.-mgt-md { margin-top: 20px; }
.-mgt-lg { margin-top: 30px; }
.-mgt-xl { margin-top: 40px; }
.-mgt-xxl { margin-top: 50px; }