// Grid
$grid-columns: 12;
$grid-gutter-width: 40px;

// Fonts
$font-folder: '/fonts/'; // Needed for font-face mixin

$font-size-xs: 0.75em;
$font-size-sm: 0.875em;
$font-size-md: 1em;
$font-size-lg: 1.125em;
$font-size-xl: 1.3125em;
$font-size-full: 100%;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;


// Colors
$color-background: #F7F7F7;
$color-white: #ffffff;
$color-gray-light: #E2E1E1;
$color-gray: #737373;
$color-gray-dark: #393939;
$color-black: #000000;
$color-red: #E04141;
$color-green: #54AB42;
$color-orange: #F8B717;
$color-blue: #31A5E0;
$color-blue-dark: #2395CC;
$color-blue-darkest: #00769D;

// Transforms
$font-uppercase: uppercase;

// Breakpoints 
$breakpoint-small: 560px;
$breakpoint-medium: 768px;
$breakpoint-large: 960px;

// Widths
$width: 90%;
$width-max: 50em;
