.grid__container:before, .grid__container:after { content: " "; display: table; }
.grid__container:after { clear: both; }

.grid__container {
	background-color: $color-white;
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.10);
	margin: 0 1em 1.2em 1em;
	text-align: center;
	position: relative;
}

.grid__column {
	float: left;

	&.grid__column--half {
		width: 50%;
	}

	&.grid__column--full {
		width: 100%;
	}
}


