$font-family-open-sans: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-source-sans: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;

html, body, button {
	-webkit-font-smoothing: antialiased; // http://www.intridea.com/blog/2014/5/8/better-font-smoothing-in-chrome-on-mac-os-x
	-moz-osx-font-smoothing: grayscale; // http://stackoverflow.com/questions/11459746/css3-/font-smoothing-and-antialiasing-in-firefox-and-opera
}

// http://www.intridea.com/blog/2014/5/8/better-font-smoothing-in-chrome-on-mac-os-x
@media
	only screen and (-webkit-min-device-pixel-ratio: 1.25),
	only screen and (min-device-pixel-ratio: 1.25),
	only screen and (min-resolution: 200dpi),
	only screen and (min-resolution: 1.25dppx) {

	html, body, button {
		-webkit-font-smoothing: subpixel-antialiased;
	}
}

html {
	color: $color-gray;
	font-family: $font-family-open-sans;
	font-weight: $font-weight-regular;
	font-size: $font-size-full;
	line-height: 1.36;
}

p {
	font-size: 0.9375em;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-family: $font-family-source-sans;
	text-transform: $font-uppercase;
}

h1, .-h1 {
	font-weight: $font-weight-bold;
}

h2, .-h2 {
	font-size: $font-size-lg;
	font-weight: $font-weight-bold;
}

h3, .-h3 {
	font-size: $font-size-lg;
	font-weight: $font-weight-bold;
}

strong, b {
	font-weight: $font-weight-bold;
}