main {
    opacity: 1;
  	visibility: visible;

  	transform: translateY(0px);

  	transition: all .3s ease-in-out;

  	transition-delay: .2s;

  	&.is--transitioning {

    	transform: translateY(10px);
    	opacity: 0;
    	visibility: hidden;

  	}
}	

	.page {
		max-width: $width-max;
		margin: 0 auto;
	}

	.page-holder {
		display: none;
	}

	.page__header {
		background-color: $color-blue;
		color: $color-white;
		padding: 1em 0;
		position: relative;
		text-align: center;
		width: 100%;

		h2 {
			display: inline-block;
		}
	}

	.page__button-back {
		left: 15px;
		top: calc(50% + 2px);
		text-decoration: none;
		transform: translateY(-50%);
		position: absolute;
	}