main {
    opacity: 1;
  	padding-top: 6em;

  	transform: translateY(0px);
  	transition: all .3s ease-in-out;
  	transition-delay: .2s;

  	&.is--transitioning {

    	transform: translateY(10px);
    	opacity: 0;
    	visibility: hidden;

  	}

  	@media only screen and (min-width: em($breakpoint-small)) {
		padding-top: 8.5em;
  	}
}	

	.page {
		max-width: $width-max;
		margin: 0 auto;
	}

	.page-holder {
		display: none;
	}

	.page__header {
		padding: 1em 0 0 0;
		position: relative;
		text-align: center;
		width: 100%;

		&--pushed {
			padding: 1em 0 1.5em 0;
		}

		h1 {
			color: $color-gray-dark;
			font-size: 1.2em;
			font-family: $font-family-open-sans;
		}

		a {
			color: #454545;
			display: inline-block;
			text-transform: uppercase;
			text-decoration: none;
			position: relative;

			&:before {
				background-color: $color-blue-dark;
				bottom: -5px;
				content: "";
				height: 3px;
				opacity: 0;
				position: absolute;
				transition: all .2s ease-in;
				transform: translateY(5px);
				width: 100%;
			}
			
			&:hover,
			&:focus,
			&.is--active {
				
				&:before {
					opacity: 1;
					transform: translateY(0px);
				}

			}
			
			&.is--active {
				color: #393939;
				font-weight: $font-weight-bold;
			}

			&:first-child {
				margin-right: 0.5em;
			}

		}

		@media only screen and (min-width: em($breakpoint-small)) {
			padding: 1em 0 1.5em 0;
  		}
	}

	.page__button-back {
		left: 15px;
		top: calc(50% + 2px);
		text-decoration: none;
		transform: translateY(-50%);
		position: absolute;
	}

	/*
		Page transitions
	*/ 

	.slide-left {
		
	}