main {
    
}

	.page {
		max-width: $width-max;
		margin: 0 auto;
	}

	.page__header {
		background-color: $color-blue;
		color: $color-white;
		padding: 1em 0;
		text-align: center;
		width: 100%;
	}